<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect root to build
    RewriteBase /
    RewriteRule ^((?!public/).*?)/?$ public/$1 [L,NC]
</IfModule>