/* Coolors Exported Palette - coolors.co/3a2e39-ed95a4-1e555c-f4d8cd-f15152 */

/* Main */
$onyx: rgba(58, 46, 57, 1);
$mauvelous-dark: rgba(237, 149, 164, 1);
$dark-slate-gray: rgba(30, 85, 92, 1);
$champagne-pink: rgba(244, 216, 205, 1);
$red-orange: rgba(241, 81, 82, 1);

/* Linear Gradient */

$rebecca-purple: rgba(116, 38, 153, 1);
$ksu-pruple: rgba(66, 40, 145, 1);
$regalia: rgba(83, 31, 122, 1);
$russian-violet: rgba(54, 17, 91, 1);
$middle-red-purple: rgba(33, 1, 61, 1);
