/* Coolors Exported Palette - coolors.co/3a3a3a-ede8e8-3d595b-f4f4f4-f2a7a7 */

/* Main */
$black-olive: rgba(58, 58, 58, 1);
$alabaster: rgba(237, 232, 232, 1);
$feldgrau: rgba(61, 89, 91, 1);
$white-smoke: rgba(244, 244, 244, 1);
$mauvelous-light: rgba(242, 167, 167, 1);

/* Linear Gradient */

$fuchsia: rgba(175, 90, 191, 1);
$deep-lilac: rgba(137, 93, 183, 1);
$purpeus: rgba(148, 82, 160, 1);
$plum: rgba(124, 66, 130, 1);
$platinate-purple: rgba(104, 53, 99, 1);
