.about {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  width: 70vw;
  margin: 40px auto;
  overflow: hidden;

  &__cards {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 5;
    width: 100%;
    padding: 5px;

    .card {
      width: 600px;
      margin: 5px;

      @include themify() {
        background: themed('cardBg');

        p,
        li,
        span {
          color: themed('cardTxt');
        }
      }
    }
  }

  &__i-am {
    margin: 20px;
    text-shadow: 1px 1px 2px black;

    [class^='txt'] {
      font-weight: 700;
    }
  }

  &__projects {
    width: 100%;

    h1 {
      @include themify() {
        font-weight: 700 !important; /* stylelint-disable-line declaration-no-important */
        color: themed('txtInvert');
        text-shadow: none;
      }
    }

    &.logos {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: auto;

      img {
        max-width: 300px;
      }

      .tooltip span.left {
        right: 100%;
        width: 190px;

        @media (max-width: 564px) {
          left: 100%;
        }
      }
    }
  }
}
