[class^='link'] {
  &:hover {
    cursor: pointer;
  }
}

.link {
  &__card {
    @include dimmedCard();

    max-width: 420px;
    padding: 1%;

    &--b {
      @extend .link__card;
      @include pulseBorder;

      margin: auto;
      padding: 5%;
      text-align: center;

      p {
        margin-bottom: 0;
      }
    }
  }

  &--txt {
    display: block;
    transform: translateY(-40px);
    text-shadow: 2px 2px pink;

    &:focus {
      outline: transparent;
    }

    &:hover {
      font-weight: 800;
      cursor: pointer;
    }
  }
}
