.tooltip {
  // display: inline-block;
  position: relative;
  text-align: left;

  &:hover .top {
    display: grid;
  }

  .txt {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: orange;
  }

  .top {
    /* Position the tooltip */
    position: absolute;
    bottom: 100%;
    max-width: 600px;
    max-height: 300px;
    overflow: auto;

    position: absolute;
    padding: 10px 20px;
    background-color: black;
    font-size: 0.7em;
    border-radius: 5px;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;

    a {
      @include themify() {
        color: themed('txtAll');
        &:hover {
          color: themed('highlight');
        }
      }
    }

    i {
      &::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: black;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
      }

      position: absolute;
      top: 100%;
      left: 30%;
      margin-left: -15px;
      width: 30px;
      height: 15px;
      overflow: hidden;
    }
  }

  h3 {
    margin: 12px 0;
  }
}
